
header{
    background-color:rgb(228, 242, 236) ;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;

}


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color:#5EC2A1 ;
    font-size: 4rem;
    text-align: left;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color:#374B43;
    font-size: 1.5rem;
    text-align: left;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #67B8F4;
    font-size: 2rem;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#99B0A7;
    font-size: medium;
    font-weight: 500;

}

ol{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #99B0A7;
}

body{
    background-color:#D9EDDF ;

    
}
